.admin {
  &-wrapper {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  &-sidebar {
    position: fixed;
    width: 200px;
    background-color: darkgray;
    height: 100%;

    .logo {
      padding: 20px;
      width: 100%;

      img {
        border: 1px solid black;
        width: 100%;
        border-radius: 50%;
      }
    }

    .links {
      ul {
        padding: 0;
        margin: 0;

        li {
          display: block;
          width: 100%;

          a {
            color: var(--surface-a);
            display: block;
            padding: 10px 15px;

            &:hover {
              background-color: var(--blue-700);
              cursor: pointer;
            }
          }

          i {
            margin-right: 8px;
          }
        }
      }
    }
  }

  &-main {
    width: calc(100% - 200px);
    margin-left: 200px;
    background-color: red;
    height: 100px;
  }
}
